.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 14px;
    padding: 100px;
}

.movieCard {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #000;
    box-shadow: 3px 3px 15px #00000020;
    padding: 15px;
    display: grid;
    place-items: center;
    max-width: 200px;
}